.idea/
mysql/*
!mysql/.gitkeep
backend/src/node_modules
frontend/src/node_modules
admin/src/node_modules
admin/src/vendor
frontend/.vscode
/public/storage/*
npm-debug.log
yarn-error.log
/.idea
/.vscode
/logs
.env