#main {
    position: relative;
}

.video-player{
    object-fit: unset;
}

.text-muted{
    color: #616161;
}

.box-sidbar-chats{
    height: calc(100% - 6rem) !important;
    width: 100%;
    overflow-y: auto;
    padding: 0rem 0.5rem;
}

.swal2-popup {
    font-size: 12px !important;
}

.text-black{
    color: #000;
}

.split-dropdown {
    position: relative;
    display: inline-block;
}

.main-btn {
    padding: 10px;
    cursor: pointer;
}

.dropdown-btn {
    padding: 7px 4px;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 110% ;
    border-radius: 0.2rem
}

.dropdown-content a {
    padding: 5px 18px;
    text-align: left;
    display: block;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.share-screen {
    transition: 500ms;
}

.full-screen {
    position: fixed !important;
    width: 100% !important;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 100;
}

.full-screen video{
    height: auto !important;
    max-height: 100%;
}

#screen-player{
    object-fit: unset;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.responsive-action {
    margin: 0 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.loader{
    position: fixed;
    background-color: #83878c74;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 3;
    z-index: 100
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #7493ea;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.content-view {
    position: relative;
    height: 100% !important;
}

.controller {
    position: absolute !important;
    top: 95%;
    width: 100%;
    left:0;
    height: 5%;
    z-index: 5;
    transition: 300ms;
    background: #6d6d6d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 3px 3px;
}

.camera-controller {
    position: absolute !important;
    top: 0;
    width: auto;
    left:0;
    height: 35px;
    z-index: 5;
    transition: 300ms;
    border-radius: 0 0 3px 3px;
}

.camera-controller .video-controller {
    width: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    margin: 0 auto;

    background: #6d6d6d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.video-controller{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.video-controller ul {
    list-style: none;
    display: flex;
}

.video-controller ul li {
    width: 35px;
    cursor: pointer;
    height: 35px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 400ms;
}

.wifi-container {
    /*text-align: center;*/
    background: rgba(255 , 255 , 255 , 0.3);
    z-index: 100;
    /*padding: 30px;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/

    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.wifi-icon {
    display: inline-block;
    position: relative;
    width: 150px; /* Increased width */
    height: 150px; /* Increased height */
    margin: 20px auto;
}

.wifi-icon::before {
    content: "";
    position: absolute;
    width: 30px; /* Bigger center dot */
    height: 30px;
    background-color: #f44336; /* Red center dot for low signal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.wave1,
.wave2,
.wave3 {
    content: "";
    position: absolute;
    border: 6px solid transparent; /* Thicker waves */
    border-radius: 50%;
    border-top-color: #ddd; /* Gray for disabled waves */
    animation: pulse 2s infinite ease-in-out; /* Animation */
}

.wave1 {
    width: 60px;
    height: 60px;
    top: 45px;
    left: 45px;
    animation-delay: 0s;
}

.wave2 {
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    animation-delay: 0.5s;
}

.wave3 {
    width: 140px;
    height: 140px;
    top: 5px;
    left: 5px;
    animation-delay: 1s;
}

.low .wave1 {
    border-top-color: #f44336; /* Red for weak signal */
}

.low .wave2,
.low .wave3 {
    border-top-color: #bdb9b9; /* Gray for disabled waves */
}

@keyframes pulse {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}

.wifi-icon2 {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    width: fit-content;
    margin: 50px auto;
    transform: scale(0.7);
}

.wifi-bar {
    width: 7px;
    background-color: #fff;
    border-radius: 2px;
}

.wifi-bar-ok {
    width: 7px;
    background-color: #4caf50;
    border-radius: 2px;
}

.wifi-bar-week {
    width: 7px;
    background-color: #e56e27;
    border-radius: 2px;
}

.wifi-bar-bad {
    width: 7px;
    background-color: #c80000;
    border-radius: 2px;
}

.bar-1 {
    height: 10px;
}

.bar-2 {
    height: 20px;
}

.bar-3 {
    height: 30px;
}

.bar-4 {
    height: 40px;
}

.bar-5 {
    height: 50px;
}

.outer-box {
    display: grid;
    height: 100vh; /* Full height of the viewport */
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrolling */
}

.inner-box {
    /*background-color: lightblue;*/
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrolling */
    position: relative;
    z-index: 2;
}

.inner-box > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner-box-label {
    position: absolute;
    color: #000;
    right: 0;
    top: 0;
    background: #fff;
    padding: 1%;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.empty-video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}