#main {
    position: relative;
}

.video-player{
    object-fit: unset;
}

.text-muted{
    color: #616161;
}

.box-sidbar-chats{
    height: calc(100% - 6rem) !important;
    width: 100%;
    overflow-y: auto;
    padding: 0rem 0.5rem;
}

.swal2-popup {
    font-size: 12px !important;
}

.text-black{
    color: #000;
}

.video-controller{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-controller ul {
    list-style: none;
}

.video-controller ul li {
    background: rgb(229, 45, 45);
    width: 70px;
    cursor: pointer;
    height: 35px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 400ms;
}

.video-controller ul li:hover{
    background: #c70000;
}

.split-dropdown {
    position: relative;
    display: inline-block;
}

.main-btn {
    padding: 10px;
    cursor: pointer;
}

.dropdown-btn {
    padding: 7px 4px;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 110% ;
    border-radius: 0.2rem
}

.dropdown-content a {
    padding: 5px 18px;
    text-align: left;
    display: block;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.share-screen {
    transition: 500ms;
}

.full-screen {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100% !important;
}

#screen-player{
    object-fit: unset;
    width: 100%;
    height: 100%;
}

.responsive-action {
    margin: 0 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
}